on click _ zendesk _ sheet _ filter_ jira _ slack msg --- working (2).json
{
  "name": "on click > zendesk > sheet > filter> jira > slack msg --- working",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -784,
        -112
      ],
      "typeVersion": 1,
      "id": "24d179e5-65a6-47ae-ad21-1b4ccd0db565"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        -896,
        64
      ],
      "typeVersion": 1,
      "id": "69dfd73f-e6d8-4de6-ac9f-d64a75bec10c"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "name": "Zendesk",
      "type": "n8n-nodes-base.zendesk",
      "position": [
        -528,
        32
      ],
      "typeVersion": 1,
      "id": "6a2ac9f9-953a-44e9-96b3-7900dee433a7",
      "alwaysOutputData": false,
      "credentials": {
        "zendeskApi": {
          "id": "8gZ8k7MQxYMEFWco",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TP-VXnmonUAz2hpf96yzLAyP1pdnThNWOupePhb6ps8",
          "mode": "list",
          "cachedResultName": "zendesk issue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TP-VXnmonUAz2hpf96yzLAyP1pdnThNWOupePhb6ps8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TP-VXnmonUAz2hpf96yzLAyP1pdnThNWOupePhb6ps8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Zendesk').item.json.id }}",
            "url": "={{ $('Zendesk').item.json.url }}",
            "created_at": "={{ $('Zendesk').item.json.created_at }}",
            "updated_at": "={{ $('Zendesk').item.json.updated_at }}",
            "generated_timestamp": "={{ $('Zendesk').item.json.generated_timestamp }}",
            "subject": "={{ $('Zendesk').item.json.subject }}",
            "raw_subject": "={{ $('Zendesk').item.json.raw_subject }}",
            "description": "={{ $('Zendesk').item.json.description }}",
            "priority": "={{ $('Zendesk').item.json.priority }}",
            "status": "={{ $('Zendesk').item.json.status }}",
            "requester_id": "={{ $('Zendesk').item.json.requester_id }}",
            "recipient": "={{ $('Zendesk').item.json.recipient }}",
            "type": "={{ $json.type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_timestamp",
              "displayName": "generated_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_subject",
              "displayName": "raw_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requester_id",
              "displayName": "requester_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        -128
      ],
      "id": "b4534a14-38c9-4e59-ab3b-25fb6501dbb5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y5dppKgnTiwdku9P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fiveMinutes = 5 * 60 * 1000; // 5 minutes in ms\nconst now = new Date(); // current time (UTC)\n\nreturn items.filter(item => {\n  const createdAtString = item.json.created_at; // example: \"2025-10-26T09:28:49Z\"\n  if (!createdAtString) return false;\n\n  const createdAt = new Date(createdAtString);\n  const timeDifference = now - createdAt;\n\n  return timeDifference <= fiveMinutes; // keep only if under 5 mins old\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        208
      ],
      "id": "ec679a74-b63d-41f0-8062-79f07ea7884b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PG20MF1N",
          "mode": "list",
          "cachedResultName": "team-rk"
        },
        "text": "=Hi Team,\n\nA new ticket has arrived in Zendesk. Details below:\n\nTicket ID: {{ $('Code in JavaScript #2 ').item.json.id }}\nStatus: {{ $('Code in JavaScript #2 ').item.json.status }}\nPriority: {{ $('Code in JavaScript #2 ').item.json.priority }}\nissue Type: {{ $('Code in JavaScript #2 ').item.json.type }}\n\nDescription:\n{{ $('Code in JavaScript #2 ').item.json.description }}\n\nA Jira ticket has been created and requires assignment to the appropriate member.\n\nJira Key: {{ $json.key }}\nLink: {{ $json.self }}\n\nThanks,\nSupport Automation\n",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        624,
        64
      ],
      "id": "6782005d-c460-47fb-8836-2ad4c47bd16a",
      "name": "Send a message",
      "webhookId": "7d1b4a07-61c3-42ca-aa91-66e1d57ef90b",
      "credentials": {
        "slackApi": {
          "id": "B0hNRs7JmLFjmgJ1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        208
      ],
      "id": "3acc9875-8fab-41c1-b895-00434e5bc0a2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Rk team"
        },
        "issueType": {
          "__rl": true,
          "value": "10007",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.subject }}",
        "additionalFields": {
          "description": "={{ $json.description }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        352,
        -128
      ],
      "id": "2bcfec51-2b5b-4d60-96f4-1d88b53b514b",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0WD0wW3puX8JBvo4",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2805e86b-ecb2-421f-9e35-9b9cd36a7ff2",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Bug",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -64
      ],
      "id": "5051642e-c07f-4be7-b692-700fe6a8baaf",
      "name": "If bug"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "050a5c2d-d076-4211-b4dc-6e06bb7e5495",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Story",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        80
      ],
      "id": "27622a03-4ef9-4ff8-822d-1d10c4e761c4",
      "name": "If Story"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a31bfc9-b976-46c5-8f27-edc58cde9ef9",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Task",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        288
      ],
      "id": "5a6c2339-4556-4db4-a827-3783af5d81ee",
      "name": "If Task"
    },
    {
      "parameters": {
        "jsCode": "// Process all items from the input array\nreturn items.map(item => {\n  const data = { ...item.json };\n\n  const typeMap = {\n    incident: 'Bug',\n    problem: 'Story',\n    question: 'Task'\n  };\n\n  data.type = typeMap[data.type] || 'Task';\n  data.route = data.type.toLowerCase(); // add route field for If checks\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        80
      ],
      "id": "9ef65e88-5237-4312-94c9-7fbd8b824f02",
      "name": "Code in JavaScript #2 "
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Rk team"
        },
        "issueType": {
          "__rl": true,
          "value": "10004",
          "mode": "list",
          "cachedResultName": "Story"
        },
        "summary": "={{ $json.subject }}",
        "additionalFields": {
          "description": "={{ $json.description }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        400,
        48
      ],
      "id": "74447b20-e44f-49a7-ba3f-a8b098b0992b",
      "name": "Create an Stroy",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0WD0wW3puX8JBvo4",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Rk team"
        },
        "issueType": {
          "__rl": true,
          "value": "10003",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ $json.subject }}",
        "additionalFields": {
          "description": "={{ $json.description }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        384,
        288
      ],
      "id": "2af32dc2-5bcf-49c0-a3fa-618b6a531840",
      "name": "Create an Task",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0WD0wW3puX8JBvo4",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        []
      ]
    },
    "Zendesk": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript #2 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bug": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Story": {
      "main": [
        [
          {
            "node": "Create an Stroy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Task": {
      "main": [
        [
          {
            "node": "Create an Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript #2 ": {
      "main": [
        [
          {
            "node": "If bug",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Story",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Stroy": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Task": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ab27ae92-e019-41f2-8ae5-c9d6ad10f761",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98f6c90510434e28fc06c2198ad108c70dae1df1eab8aab8fbaaa746e1fcff76"
  },
  "id": "WyvvnuwmfdE0z89B",
  "tags": []
}